name: CI con Jest

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo
        ports:
          - 27017:27017

    steps:
      - uses: actions/checkout@v3

      - name: Usar Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - run: npm install

      - name: Ejecutar tests
        run: npm test

        env:
          MONGO_URI: mongodb://localhost:27017/testdb
          JWT_SECRET: secreto123
